<nav class="navbar">
    <div class="navLeft">
        <a class="btnLogin" (click)="abrirModalLogin()">
            Login
        </a>
    </div>

    <div class="navMid">
        <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">Início</a>
        <span>·</span>
        <a href="#about">Quem Somos</a>
        <span>·</span>
        <a href="#contato">Contato</a>
    </div>

    <div class="navRight">
        <label class="theme-switch">
            <input type="checkbox" [checked]="isDarkMode" (change)="alternarModoNoturno()">
            <span class="slider">
                <span class="iconSun">☀️</span>
                <span class="iconMoon">🌙</span>
            </span>
        </label>
    </div>
</nav>

<app-login 
  *ngIf="mostrarLogin" 
  (fecharModal)="fecharModais()" 
  (alternarParaCadastro)="abrirModalCadastro()">
</app-login>

<app-cadastro 
  *ngIf="mostrarCadastro" 
  (fecharModal)="fecharModais()" 
  (alternarParaLogin)="abrirModalLogin()">
</app-cadastro>