<app-header />
<nav class="navbar">
    <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">Início</a>
    <span>·</span>
    <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">Login</a>
    <span>·</span>
    <a routerLink="/dashboard-aluno" routerLinkActive="ativo">Alunos</a>
    <span>·</span>
    <a routerLink="/dashboard-prof" routerLinkActive="ativo">Professores</a>
    <span>·</span>
    <a routerLink="#">Quem Somos</a>
    <span>·</span>
    <a routerLink="#">Contato</a>
</nav>