<nav class="navbar">
    <div class="navLeft">
        <a class="btnLogin" (click)="abrirModalLogin()">Login</a>
    </div>

    <button class="btn-menu-toggle" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <div class="navMid">
        <a routerLink="/" routerLinkActive="ativo" [routerLinkActiveOptions]="{exact: true}">Início</a>
        <span>·</span>
        <a href="#about">Quem Somos</a>
        <span>·</span>
        <a href="#contato">Contato</a>
    </div>

    <div class="navRight">
        <app-theme-switch></app-theme-switch>
    </div>
</nav>

<app-login 
  *ngIf="mostrarLogin" 
  (fecharModal)="fecharModais()" 
  (alternarParaCadastro)="abrirModalCadastro()">
</app-login>

<app-cadastro 
  *ngIf="mostrarCadastro" 
  (fecharModal)="fecharModais()" 
  (alternarParaLogin)="abrirModalLogin()">
</app-cadastro>