.secao-pagina {
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: var(--base);
    color: var(--graf);
}

.conteudo-contato {
    max-width: 960px;
    width: 100%;
    text-align: center;
}

.conteudo-contato h2 {
    color: var(--peaches);
    font-size: 2.2rem;
    margin-bottom: 15px;

}

.conteudo-contato p {
    color: var(--sand);
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px var(--caramelo);
}

.info-contato {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.cartao-contato {
    background-color: #d09254;
    border: 1px solid #dfc3a8;;
    padding: 25px 40px;
    border-radius: 8px;
    min-width: 260px;
    box-shadow: var(--sombra);
    transition: transform 0.3s ease;
}

.cartao-contato:hover {
    transform: translateY(-5px);
    color: var(--base);
    margin-bottom: 2px;
}

.cartao-contato span {
    font-weight: bold;
    color: var(--caramelo);
    display: block;
    margin-bottom: 8px;
    font-size: 1.1rem;
    text-shadow: 1px 1px 2px #dfc3a8;;
}

.cartao-contato p {
    margin: 0;
    font-size: 1rem;
    color: var(--graf);
    text-shadow: 2px 2px 5px var(--graf);
}

