.dash-container {
    display: flex;
    min-height: 100vh;
    background-color: var(--graf); 
    font-family: sans-serif;
    transition: background-color 0.3s ease;
    overflow-x: hidden;
}

/* --- SIDEBAR --- */
.dash-sidebar {
    width: 0;
    background-color: var(--sand); 
    color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;
    box-shadow: var(--sombra);
    flex-shrink: 0;
    overflow: hidden;
    z-index: 999;
    transition: left 0.3s ease-in-out, 
    padding 0.3s ease-in-out;
    
}

.dash-sidebar.active {
    width: 260px;
    padding: 30px 20px;
    box-shadow: var(--sombra);
}

.linha-divisoria {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin: 5px 0 15px 0;
}

html.light-theme .linha-divisoria {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-topo {
    display: flex;
    flex-direction: column;
    width: 220px;
}

.logo-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 25px;
    margin-top: 40px;
}

.logo-sidebar {
    width: 60px;
    height: auto;
}

.logo-area h2 {
    color: var(--graf);
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
}

.logo-area h2 span {
    color: var(--smooth);
    font-size: 0.9rem;
    display: block;
}

/* --- ÁREA DO PERFIL --- */
.profile-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 20px;
}

.avatar-container {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--caramelo);
    margin-bottom: 10px;
    background-color: var(--light);
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prof-name {
    color: var(--graf);
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.side-menu button {
    background: none;
    border: none;
    color: var(--smooth);
    text-align: left;
    padding: 14px 18px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s ease;
}

.side-menu button:hover, .side-menu button.ativo {
    background-color: var(--caramelo);
    color: var(--branco);
    font-weight: bold;
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 220px;
}


.btn-sair {
    width: 100%;
    max-width: 220px;

    padding: 14px;
    background-color: var(--caramelo);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-sair:hover {
    background-color: var(--green);
    transform: translateY(-2px);
}

/* --- ÁREA DE CONTEÚDO --- */
.dash-content {
    flex-grow: 1;
    padding: 40px 40px 40px 80px; 
    overflow-y: auto;
    color: var(--branco);
    transition: padding 0.3s ease;
}

.dash-content h3 {
    font-size: 2rem;
    color: var(--caramelo);
    margin-bottom: 30px;
    border-bottom: 2px solid var(--queimado);
    padding-bottom: 10px;
}

/* --- COMPONENTES INTERNOS --- */
.grid-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card-agenda {
    background-color: var(--caramelo); 
    border: 1px solid var(--queimado);
    border-radius: 12px;
    padding: 20px;
    width: 280px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    transition: background-color 0.3s ease, 
    border-color 0.3s ease;
}

.status-badge {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--green);
    color: var(--branco);
    font-size: 0.75rem;
    padding: 4px 8px;
    border-radius: 20px;
    font-weight: bold;
}

.card-agenda h4 { 
    margin: 0 0 15px 0; 
    color: var(--graf); 
    font-size: 1.2rem; 
}

.card-agenda p { 
    margin: 6px 0; 
    font-size: 0.95rem; 
    color: var(--smooth);
}

.form-box {
    background-color: var(--queimado);
    padding: 25px;
    border-radius: 12px;
    border: 1px solid var(--sand);
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    transition: background-color 0.3s ease, 
    border-color 0.3s ease;
}

.form-box label { 
    display: block; 
    font-weight: bold; 
    margin-bottom: 8px; 
    color: var(--sand); 
}

.form-box input, .form-box textarea {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 18px;
    border: 1px solid var(--sand); 
    border-radius: 8px; 
    outline: none;
    background-color: var(--graf); 
    color: var(--branco);
}

.btn-acao {
    background-color: var(--caramelo); 
    color: var(--branco);
    border: none; 
    padding: 14px 20px; 
    font-weight: bold;
    border-radius: 8px; 
    cursor: pointer; 
    width: 100%; 
    transition: 0.3s;
}

.btn-acao:hover { 
    background-color: var(--green); 
}

.sub-titulo { 
    margin-top: 40px; 
    color: var(--sand); 
}

.lista-itens { 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.item-postado { 
    background: var(--queimado); 
    padding: 15px; 
    border-radius: 8px; 
    border-left: 5px solid var(--green); 
    color: var(--branco);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* --- MAILBOX --- */
.mailbox-container { 
    display: flex; 
    height: 400px; 
    background: var(--caramelo); 
    border-radius: 12px; 
    border: 1px solid var(--sand); 
    overflow: hidden;
    transition: background-color 0.3s ease, 
    border-color 0.3s ease;
}

.lista-alunos-chat { 
    width: 200px; 
    border-right: 1px solid var(--sand); 
    background: var(--graf); 
}

.aluno-chat-item { 
    padding: 15px; 
    border-bottom: 1px solid var(--sand); 
    cursor: pointer; 
    color: var(--smooth);
}

.aluno-chat-item.active { 
    background: var(--queimado); 
    border-left: 4px solid var(--caramelo); 
    font-weight: bold; 
    color: var(--branco);
}

.janela-chat { 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    padding: 20px; 
}

.historico-chat { 
    flex-grow: 1; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
    overflow-y: auto; 
}

.msg { 
    padding: 10px 14px; 
    border-radius: 12px; 
    max-width: 70%; 
    font-size: 0.95rem; 
}

.msg.recebida { 
    background: var(--graf); 
    color: var(--branco);
    align-self: flex-start; 
}

.msg.enviada { 
    background: var(--caramelo); 
    color: var(--branco); 
    align-self: flex-end; 
}

.input-chat-box { 
    display: flex; 
    gap: 10px; 
    margin-top: 15px; 
}

.input-chat-box input { 
    flex-grow: 1; 
    padding: 12px; 
    border-radius: 8px; 
    border: 1px solid var(--sand); 
    background-color: var(--graf);
    color: var(--branco);
}

.input-chat-box button { 
    background: var(--green); 
    color: white; 
    border: none; 
    padding: 0 20px; 
    border-radius: 8px; 
    cursor: pointer; 
}

.perfil-grid { 
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
}

/* --- MENU HAMBURGUER --- */
.menu-hamburger {
    display: flex; 
    position: fixed;
    top: 15px;
    left: 15px;
    width: 42px;
    height: 42px;
    background-color: var(--graf);
    border: 1px solid var(--caramelo);
    border-radius: 8px;
    z-index: 1000;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0;
}

.menu-hamburger span {
    width: 24px;
    height: 3px;
    background-color: var(--caramelo);
    transition: 0.3s ease;
    border-radius: 2px;
}

.menu-hamburger.aberto span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.menu-hamburger.aberto span:nth-child(2) {
    opacity: 0;
}
.menu-hamburger.aberto span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.wrapper-switch-fixo {
    position: fixed;
    top: 20px;
    right: 50px;
    z-index: 1001; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    user-select: none;
}

.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-switch .slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--graf); 
    border: 1.7px solid var(--queimado);
    border-radius: 34px;
    transition: 0.4s ease;
}

.theme-switch .slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3.5px;
    bottom: 2.5px;
    background-color: var(--sand);
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: var(--sombra);
}

.theme-switch input:checked + .slider {
    background-color: var(--caramelo);
}

.theme-switch input:checked + .slider::before {
    transform: translateX(30px);
    background-color: var(--light);
}

/* --- CHAVEAMENTO DO MODO CLARO --- */
html.light-theme .dash-container {
    background-color: var(--light);
}

html.light-theme .wrapper-switch-fixo {
    background-color: var(--branco);
    border: 1px solid var(--smooth);
}

html.light-theme .dash-content {
    color: var(--graf);
}

html.light-theme .form-box,
html.light-theme .card-agenda,
html.light-theme .item-postado,
html.light-theme .mailbox-container {
    background-color: var(--branco);
    border-color: var(--smooth);
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

html.light-theme .card-agenda h4 {
    color: var(--caramelo);
}

html.light-theme .card-agenda p {
    color: var(--graf);
}

html.light-theme .form-box input,
html.light-theme .form-box textarea,
html.light-theme .lista-alunos-chat,
html.light-theme .input-chat-box input,
html.light-theme .msg.recebida {
    background-color: var(--light);
    color: var(--graf);
    border-color: var(--smooth);
    transition: background-color 0.3s ease, 
    border-color 0.3s ease, color 0.3s ease;
}

html.light-theme .aluno-chat-item {
    color: var(--graf);
    border-bottom-color: var(--smooth);
}

html.light-theme .aluno-chat-item.active {
    background: var(--branco);
    color: var(--caramelo);
}

html.light-theme .menu-hamburger {
    background-color: var(--branco);
}

/* Animação */
.fade-in { 
    animation: fadeIn 0.3s ease;
}
@keyframes fadeIn { 
    from { opacity: 0; transform: translateY(10px); } 
    to { opacity: 1; transform: translateY(0); } 
}