:root {
    --corPrincipal: #CD853F;
    --corSuave: #dfc3a8;
    --corFundo: #fffaf5;
    --corHover: #a96c2f;
    --corTexto: #333333;
    --corBranca: #ffffff;
    --corVerde: #2d6a4f;
    --sombra: 0 10px 30px rgba(0, 0, 0, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--corFundo);
    color: var(--corTexto);
}
