.footer {
    background-color: var(--peaches); 
    color: var(--smooth); 
    text-align: center; 
    padding: 20px 10px; 
    font-size: 0.9rem; 
    width: 100%;
    border-top: 3px solid var(--caramelo); 
    
}

.footer p {
    color: var(--base);
    text-decoration: none;
    transition: color 0.3s ease;
    text-shadow: 0.6px 0.4px 0.5px var(--smooth);
}

.assinatura {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
    font-size: 0.8rem;
}

.assinatura img {
    width: 4%; 
    height: auto; 
}