html, :root {
    --branco: #ffffff;
    --light: #fffaf5;
    --smooth: #dfc3a8;
    --queimado: #cea683;
    --caramelo: #CD853F;
    --sand: #a96c2f;
    --graf: #333333;
    --green: #2d6a4f;
    --sombra: 0 10px 30px rgba(0, 0, 0, 0.15); 
}

html.dark-theme {
    --light: #1b1e22;
    --graf: #fffaf5;
    --smooth: #24292e;
    --branco: #2b3036;
    --caramelo: #a96c2ff8;
    --queimado: #CD853F;
    --sand: #dfc3a8;
    --green: #2d6a4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--graf);
}