html, :root {
    --branco: #ffffff;
    --light: #fffaf5;
    --smooth: #dfc3a8;
    --queimado: #cea683;
    --peaches: #d09254;
    --caramelo: #CD853F;
    --sand: #a96c2f;
    --graf: #333333;
    --green: #2d6a4f;
    --sombra: 0 10px 30px rgba(0, 0, 0, 0.15); 
}

html.dark-theme {
    --light: #1b1e22;
    --graf: #fffaf5;
    --smooth: #24292e;
    --branco: #2b3036;
    --caramelo: #a96c2ff8;
    --queimado: #d09254;
    --peaches: #CD853F;
    --sand: #e0bd9c;
    --green: #2d6a4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--graf);
}
html {
    scroll-behavior: smooth !important;
    scrollbar-color: var(--caramelo) transparent;
    scrollbar-width: thin;
}

/* ==========================================================================
   BARRA DE ROLAGEM 
   ========================================================================== */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--caramelo);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--queimado);
}