<app-header></app-header>

<header class="topoSite">
    <h1>MYIOGA</h1>
</header>

<section class="subtextoSite">
    <section class="carrossel-container">
        <div class="carrossel-slides">
            <div class="slide" *ngFor="let img of imagensCarrossel; let i = index" [class.ativo]="i === slideAtual">
                <img [src]="img" alt="Prática de Yoga - MYioga">
            </div>
        </div>

        <button class="seta esquerda" (click)="slideAnterior()">&#10094;</button>
        <button class="seta direita" (click)="proximoSlide()">&#10095;</button>

        <div class="indicadores">
            <span *ngFor="let img of imagensCarrossel; let i = index" 
                class="ponto" 
                [class.ponto-ativo]="i === slideAtual"
                (click)="irParaSlide(i)">
            </span>
        </div>
    </section>
    
    <h3>
        Faça Yoga em casa com aulas online e desbloqueie video-aulas para sua jornada conosco!
    </h3>
</section>

<section class="areaLoginCadastro">
    <div class="loginCadastro">
        <button class="btnLogin" (click)="abrirModalLogin()">
                Faça Login
            </button>
            <p>
                ou
            </p>
        <button class="btnCadastro" (click)="abrirModalCadastro()">
            Cadastre-se
        </button>
    </div>
</section>

<section class="areaAgendamento">
        
        <div class="coluna-esquerda">
            <!-- Deixei vazio para você colocar sua ideia depois, 
                 mas já apliquei estilos para o layout não quebrar -->
        </div>

        <div class="freeClass">
            <h2>Agende sua Aula Experimental!</h2>
            <p>
                A sua primeira aula de Yoga é gratuita! Experimente e descubra 
                como a Yoga pode transformar sua rotina. 
            </p>
            <p>
                A prática da Yoga melhora a flexibilidade, reduz o estresse
                e fortalece o corpo e a mente. Mesmo poucos minutos por dia
                ajudam a melhorar a respiração, postura e foco.
            </p>
            <div class="btn">
                <button type="button" class="btn-agendar">
                    Agendar
                </button>
            </div>
        </div>

        <div class="coluna-direita">
            <img class="logo" src="img/logomarca.svg" alt="logomarca">
        </div>
        
</section>


<div id="about"> 
    <app-about></app-about>
</div>

<div id="contato">
    <app-contato></app-contato>
</div>

<a href="#" class="btn-voltar-topo" [class.visivel]="mostrarSeta">
  ▲
</a>

<app-login 
  *ngIf="mostrarLogin" 
  (fecharModal)="fecharModais()" 
  (alternarParaCadastro)="abrirModalCadastro()">
</app-login>

<app-cadastro 
  *ngIf="mostrarCadastro" 
  (fecharModal)="fecharModais()" 
  (alternarParaLogin)="abrirModalLogin()">
</app-cadastro>

<app-footer></app-footer>
