<div class="modal-overlay" (click)="fechar()">

    <div class="modal-box" (click)="$event.stopPropagation()">
        <button class="fechar-modal" (click)="fechar()">&times;</button>

        <h2>Login</h2>

        <form id="formLogin" [formGroup]="loginForm" (ngSubmit)="submeterLogin()">
            <label for="usuario">
                Usuário ou E-mail
            </label>
            
            <input type="text" id="usuario" name="usuario" formControlName="email" placeholder="Digite seu usuário" required>

            <label for="senha">
                Senha
            </label>
            
            <input type="password" id="senha" name="senha" formControlName="senha" placeholder="Digite sua senha" required>

            <button type="submit" class="botao-entrar">
                Entrar
            </button>
        </form>
        
        <h1>
            Não tem uma conta? 
            <a (click)="irParaCadastro()">
                Cadastre-se
            </a>.
        </h1>

        <button class="recuperar">
            esqueceu sua senha
        </button>

    </div>
</div>